header.header
  link(rel="stylesheet", href="/css/header.css")

  .overlap-wrapper
    .overlap
      .tm-kim
        .overlap-group
          p.text-wrapper Tìm sản phẩm hoặc thương hiệu
      .btn
        .ng-nhp
          .btn-ng-nhp
            .div-wrapper
              .text-wrapper-2 Đăng nhập
        .ng-k
          .btn-ng-k
            .overlap-group-2
              .text-wrapper-3 Đăng ký
      // Đảm bảo img là self-closing
      img.thumb-apple-watch(src="img/thumb-apple-watch-1.png")
  
    .overlap-group-wrapper
      .overlap-2
        .XH
          .text-wrapper-4 Xu hướng 2025
        .frame
          .menu
            .overlap-group-3
              .text-wrapper-5 Menu
              // Đảm bảo img là self-closing
              img.chevron-down(src="svg/Chevron Down.svg")
        .nam-wrapper
          .nam
            .overlap-group-4
              .text-wrapper-6 Nam
              // Đảm bảo img là self-closing
              img.img(src="svg/Chevron Down.svg")
        .n-wrapper
          .n
            .overlap-group-5
              .text-wrapper-7 Nữ
              // Đảm bảo img là self-closing
              img.chevron-down-2(src="svg/Chevron Down.svg")
        .luxury
          .text-wrapper-8 Luxury
        .text-wrapper-9 Cũ cao cấp
        .text-wrapper-10 Treo tường
