doctype html
html 
    head 
        title #{pageTitle} 
        //- dùng để lấy tên title 
    body 
        include ../partials/header.pug 
        //- lấy header từ file header.pug
        
        block main
    
        include ../partials/footer.pug 
        //- lấy footer từ file footer.pug