//- footer.footer
//-   img.image-6(src="img/thumb-apple-watch-1.png")
//-   .h-tr-kh
//-     .text-wrapper-11 HỖ TRỢ KHÁCH HÀNG
//-     p.text-wrapper-12 Hướng dẫn mua hàng online
//-     p.text-wrapper-13 Điều kiện giao dịch chung
//-     .text-wrapper-14 Chính sách giao hàng
//-     .text-wrapper-15 Hướng dẫn thanh toán
//-   .chnh-sch
//-     .text-wrapper-11 CHÍNH SÁCH CHUNG
//-     .text-wrapper-12 Chính sách bảo hành
//-     .text-wrapper-13 Điều khoản thanh toán
//-     .text-wrapper-14 Chính sách bảo mật
//-     .text-wrapper-15 Chính sách đổi trả
//-   .lin-h
//-     .text-wrapper-11 LIÊN HỆ HỖ TRỢ
//-     .text-wrapper-12 Hotline 2: 0345126789
//-     .text-wrapper-13 Hotline 1: 0987123456
//-     .text-wrapper-14 Email: Topzonedemo123@gmail.com
//-   .theo-di
//-     .text-wrapper-11 THEO DÕI CHÚNG TÔI
//-     img.vector(src="svg/vector.svg")
//-     img.vector-2(src="svg/vector-4.svg")
//-     img.vector-3(src="svg/vector-3.svg")
//-     img.vector-4(src="svg/vector-2.svg")